
table{border-collapse:collapse;border-spacing:0;font-family:Arial, Helvetica, sans-serif; }
.datepicker {top: 0;left: 0;border: 1px solid #EEE;box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);border: 1px solid #EEE;background: #fff;width: 240px;position: absolute;}
.datepicker > div { display: none;}
.datepicker table { width: 100%; margin: 0;}
.datepicker td, .datepicker th {text-align: center;font-weight: normal;}
.datepicker th {  height: 35px;}
.datepicker th i { width: 9px;height: 16px; display: block; margin: auto; background: url(../../images/icons.png) no-repeat;}
.datepicker th i.icon-arrow-left { background-position: -45px -129px;}
.datepicker th i.icon-arrow-left:hover { background-position: -45px -163px;}
.datepicker .icon-arrow-right {background-position: -45px -112px; }
.datepicker .icon-arrow-right:hover { background-position: -45px -146px;}
.datepicker table thead tr:first-child { border-bottom: 1px solid #eee; color: #62b651; cursor: pointer;}
.datepicker td { width: 35px;height: 30px; }
.datepicker td.old, .datepicker td.new {color: #999999;}
.datepicker table tr td.active:after {
  position: absolute;
  width: 5px;
  height: 5px;
  margin-top: -2px;
  margin-right: -1px;
  content: '';
  background: red;
  border-radius: 2px;}

.datepicker table tr td.day:hover { 
 	cursor: pointer;
 	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(top, #0088cc, #0044cc);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td span {display: block;width: 47px;height: 54px;line-height: 54px;float: left;margin: 2px;cursor: pointer;margin: 2px 6px 0 6px;}
.datepicker td span:hover {background: #eeeeee;}
.datepicker td span.active {
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(top, #0088cc, #0044cc);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td span.active:hover,.datepicker td span.active:active,.datepicker td span.active.active,.datepicker td span.active.disabled,.datepicker td span.active[disabled] {
	background-color: #0044cc;
}
.datepicker td span.active:active, .datepicker td span.active.active {
	background-color: #003399 \9;
}
.datepicker td span.old { color: #999999;}
.input-append.date .add-on i, .input-prepend.date .add-on i {display: block;cursor: pointer;width: 16px;height: 16px;}
.icon-calendar{ width: 14px; height: 14px;}

html .datepicker {
    color: #000;
}