<!-- 公共js部分 -->
<div th:fragment="copy">
    <div id="library"></div>
    <div id="box1"></div>
    <script type="text/javascript" th:src="@{/statics/js/jquery-3.4.1.min.js?v=0.0.3}"></script>
    <script type="text/javascript" th:src="@{/statics/js/bootstrap.min.js?v=0.0.3}"></script>
    <script type="text/javascript" th:src="@{/statics/js/swiper.min.js?v=0.0.3}"></script>
    <script type="text/javascript" th:src="@{/statics/js/htajax.js?v=0.0.3}"></script>
    <script type="text/javascript" th:src="@{/statics/js/vue.js?v=0.0.3}"></script>
    <script type="text/javascript" th:src="@{/statics/js/layer/layer.js?v=0.0.3}"></script>
    <script type="text/javascript" th:src="@{/statics/js/moment.min.js?v=0.0.3}"></script>
    <script type="text/javascript" th:src="@{/statics/js/share.js?v=0.0.3}"></script>
    <script type="text/javascript" th:src="@{/statics/lib/element-ui/index.js?v=0.0.3}"></script>
    <script type="text/javascript" th:src="@{/statics/js/comfoot.js?v=0.0.3}"></script>
    <script type="text/javascript" th:src="@{/statics/js/policydig/city-data.js?v=0.0.3}"></script>
    <script type="text/javascript" th:src="@{/statics/js/mypagination.js?v=0.0.3}"></script>
    <script type="text/javascript" th:src="@{/statics/js/validate_form.js?v=0.0.3}"></script>
    <script type="text/javascript" th:src="@{/statics/js/bootstrap-datepicker.js?v=0.0.3}"></script>
    <!-- cookies -->
    <script type="text/javascript" th:src="@{/statics/js/cookies.js?v=0.0.6}"></script>
    <script type="text/javascript" th:src="@{/statics/js/userinfo_v1.js?v=0.0.5}"></script>
    <script type="text/javascript" th:src="@{/statics/js/morepolicy.js?v=0.0.1}"></script>
    <script type="text/javascript" th:src="@{/statics/js/more1.js?v=0.0.1}"></script>
    

</div>
<!-- over -->