<!-- 公共css部分 -->
<head th:fragment="test(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title th:text="${title}"></title>
    <link rel="shortcut icon" href="/statics/images/favicon.ico">
    <link rel="icon" href="/statics/images/favicon.ico" type="image/x-icon" />
    <link rel="Bookmark" href="/statics/images/favicon.ico">
    <link rel="SHORTCUT ICON" href="/statics/images/favicon.ico" />
    <link rel="stylesheet" th:href="@{/statics/css/bootstrap.min.css?v=0.0.4}">
    <link rel="stylesheet" th:href="@{/statics/css/swiper.min.css?v=0.0.4}">
    <link rel="stylesheet" th:href="@{/statics/css/reset.css?v=0.0.4}">
    <link rel="stylesheet" th:href="@{/statics/css/mylogin.css?v=0.0.4}">
    <link rel="stylesheet" th:href="@{/statics/css/share.css?v=0.0.4}">
    <link rel="stylesheet" th:href="@{/statics/css/rotate.css?v=0.0.4}">
    <link rel="stylesheet" th:href="@{/statics/lib/element-ui/index.css?v=0.0.4}">
    <link rel="stylesheet" th:href="@{/statics/css/user_head.css?v=0.0.4}">
    <!--[if lt IE 9]>
        <link rel="stylesheet" th:href="@{/statics/css/compatibility.css?v=0.0.1}">
    <![endif]-->
    <style>
        [v-cloak] {
            display: none;
        }
    </style>

    
</head>
<!-- over -->