<!-- 公共js部分 -->
<div th:fragment="copy">
    <script type="text/javascript" th:src="@{/statics/js/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/statics/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/statics/js/swiper.min.js}"></script>
    <script type="text/javascript" th:src="@{/statics/js/htajax.js}"></script>
    <script type="text/javascript" th:src="@{/statics/js/vue.js}"></script>
    <script type="text/javascript" th:src="@{/statics/js/layer/layer.js}"></script>
    <script type="text/javascript" th:src="@{/statics/js/count.js}"></script>
    <script type="text/javascript" th:src="@{/statics/js/share.js}"></script>
    <script type="text/javascript" th:src="@{/statics/js/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/statics/js/build/pdf.js}"></script>
    <script type="text/javascript" th:src="@{/statics/js/build/pdf.worker.js}"></script>
    <script type="text/javascript" th:src="@{/statics/js/validate_form.js}"></script>
    <!-- cookies -->
    <script type="text/javascript" th:src="@{/statics/js/cookies.js?v=0.0.5}"></script>
    <script type="text/javascript" th:src="@{/statics/js/userinfo_v1.js?v=0.0.3}"></script>
    <script type="text/javascript" th:src="@{/statics/js/library/pagination.js}"></script>
</div>