<div th:fragment="copy">
    <div class="head clearfix">
        <div class="head_l fl clearfix">
            <a href="/">
                <h3 class="fl"><img src="/statics/images/inquire/head_logo.png" alt=""></h3>
            </a>
            <!-- <ul class="head_nav fl">
                <li><a href="/">首页</a></li>
                <li>
                    <a href="/ht-biz/library/index?curPolicy=8">高企云文库</a>
                    <ul class="search_drop_down down1">
                        <li><a href="/ht-biz/library/package" target="_blank">专题资源包</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/ht-biz/inquire/index?theme=1">企政查</a>
                    <ul class="search_drop_down down2">
                        <li><a href="/ht-biz/inquire/index?theme=1" target="_blank">政策查询</a></li>
                        <li><a href="/ht-biz/inquire/index?theme=2" target="_blank">立项查询</a></li>
                    </ul>
                </li>
                <li><a href="javascript:alert('敬请期待...');">交易中心</a></li>
                <li><a href="/ht-biz/service/index/index">服务商入驻</a></li>
                <li><a target="_blank" href="http://g.hights.cn/beetl/online_training/index.html" >云学院</a></li>
            </ul> -->
        </div>
        <!-- <div class="head_r fr clearfix">
            <ul class="head_nav1 clearfix">
                <li><a target="_blank" href="http://g.hights.cn/beetl/help/index.html">帮助中心</a></li>
                <li><a href="javascript:void(0);">咨询热线：400-166-3308</a></li>
            </ul>
        </div> -->
    </div>
</div>
