
<footer th:fragment="copy">
    <div class="footer_t footer_t1">
          <div class="contain down">
                <div class="footer_logo fl">
                      <div></div>
                </div>
                <div class="logo_line fl"></div>
                <div class="help fl">
                      <p class="centrality"><a href="/help/help/index" target="_blank">帮助中心</a></p>
                      <p class="new"><a href="/help/help/index" target="_blank">新手上路</a></p>
                      <p class="rule"><a href="/help/help/index" target="_blank">规则中心</a></p>
                      <p class="rule"><a href="/help/help/about_us" target="_blank">关于我们</a></p>
                </div>
                <div class="contact fl">
                      <p class="address">客服热线：（ 周一至周五 9:00-17:30 ）</p>
                      <p class="tell">400-166-3308</p>
                      <p class="phone">公司地址：广州高新技术产业开发区科学城科珠路203号1201E</p>
                      <p class="phone"><a target="_blank" href="http://p.qiao.baidu.com/cps/chat?siteId=11406523&userId=20408321">在线客服：点此咨询</a></p>

                </div>
                <div class="public fr ac">
                      <div>
                            <img src="/statics/images/zqt.png" alt="">
                      </div>
                      <p class="scan">掌上政策通</p>
                </div>
                <div class="public fr ac">
                      <div>
                            <img src="/statics/images/gzh.png" alt="">
                      </div>
                      <p class="scan">高企云公众号</p>
                </div>

          </div>
    </div>
    <div class="footer_b">
          <div class="contain">
                <p class="">
                      友情链接:
                      <a href="http://www.innocom.gov.cn/" target="_blank" rel="nofollow">国家高新技术企业管理工作网</a>
                      <a href="http://www.most.gov.cn/" target="_blank" rel="nofollow">科技部</a>
                      <a href="http://www.sdpc.gov.cn/" target="_blank" rel="nofollow">发改委</a>
                      <a href="http://www.miit.gov.cn/" target="_blank" rel="nofollow">工信部</a>
                      <a href="http://gdstc.gd.gov.cn/" target="_blank" rel="nofollow">广东省科技厅</a>
                      <a href="http://www.gdhte.cn/" target="_blank" rel="nofollow">广东省高新技术企业协会</a><br />
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="http://www.doctortech.com.cn/" target="_blank">博士科技</a>
                      <a href="http://www.ifuhua.com.cn/index" target="_blank">孵化圈</a>
                      <a href="http://www.highjy.com/index" target="_blank">经验海</a>
                      <a href="http://hd.ifuhua.com.cn/" target="_blank">活动海</a>
                </p>
          </div>
    </div>
    <div class="copyright ac">
          <p>COPYRIGHT © 版本归属 广州高企云信息科技有限公司 粤ICP备16007486号-1</p>
    </div>
</footer>