<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
      <meta charset="UTF-8">
      <title>Insert title here</title>
</head>

<body>
      <footer th:fragment="copy">
            <div class="info">
                <div class="info_text">
                    <div>
                        <i> <s class="info_icon1"></s></i>
                        <h2>政策全链条服务</h2>
                        <p>实时政策·深度解读·企政查询·资源下载</p>
                        <p>互动式政策全链条服务</p>
                    </div>
                    <div>
                        <i> <s class="info_icon2"></s></i>
                        <h2>企业创新创业服务</h2>
                        <p>精选科技服务商家·权威专家荟萃</p>
                        <p>助力科技企业智慧发展</p>
                    </div>
                    <div>
                        <i> <s class="info_icon3"></s></i>
                        <h2>智能企业数据管理</h2>
                        <p>高企评估·项目管理·创新体检·元数据</p>
                        <p>共享大数据智能化管理</p>
                    </div>
                    <!-- <div>
                        <i> <s class="info_icon4"></s></i>
                        <h2>专家量身定制可申报项目</h2>
                        <p>行业专家根据企业评估文档，为企业量身定制可申报项目</p>
                    </div> -->
                </div>
            </div>
            <div class="copyright ac">
                    <p>COPYRIGHT © 版本归属 广州高企云信息科技有限公司 粤ICP备16007486号-1</p>
            </div>
      </footer>
</body>

</html>