<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>

<body>
    <div th:fragment="copy">
        <ul class="service_column">
            <li class="page-product">
                <a href="/ht-biz/service/index/product">
                    <p class="p1"><i></i>产品管理<s></s></p>
                </a>
            </li>
            <li class="page-order">
                <a href="/ht-biz/service/index/order">
                    <p class="p2"><i></i>订单管理<s></s></p>
                </a>
            </li>
            <li class="page-index">
                <a href="/ht-biz/service/index/information">
                    <p class="p3"><i></i>服务商基本信息<s></s></p>
                </a>
            </li>
            <li class="page-shop">
                <a href="/ht-biz/service/index/shop">
                    <p class="p4"><i></i>店铺信息<s></s></p>
                </a>
            </li>
            <li class="page-safeguard">
                <a href="/ht-biz/service/index/safeguard_manage">
                    <p class="p5"><i></i>保障计划管理<s></s></p>
                </a>
            </li>
            <!-- <li class="page-granular">
                <a href="/ht-biz/service/index/product">
                    <p class="p3"><i></i>粒度化管理<s></s></p>
                </a>
            </li> -->
            
        </ul>
    </div>
</body>

</html>