.form_content{
    /* height: 1367px; */
    margin: 0 auto;
    background: #fff;
    margin-bottom: 40px;
  }
.stroe{
    width: 443px;
    height: 110px;
    position: relative;
}
.web>p>input{
    width: 690px;
    height: 50px;
}
.duoinput>p>textarea{
    width: 690px;
    height: 90px;
    line-height: 30px;
}
.shop_tips{
    font-size: 14px;
    color: #999;
    height: 50px;
    line-height: 50px;
    background-color: #fff1e8;
}
.shop_title{
    height: 50px;
    padding-left: 30px;
}
.close_tips{
    padding-right: 30px;
}
.honer>p>input{
    width: 325px;
}
.form_box1>.upload{
    margin: 0px;
}
.form_list_shop>.ipt_l_edit{
    margin-right: 35px;
}
.form_list_shop{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.form_list_shop>p>input{
    padding-left: 15px;
    border: 1px solid #dbdbdb;
    font-size: 14px;
}
.form_list_shop>p>textarea{
    padding-left: 15px;
    border: 1px solid #dbdbdb;
    font-size: 14px;
}
.form_list_shop>p>input::placeholder{
  font-size: 14px;
  color: #999999;
}
.form_list_shop>.ipt_l>i{
  color: #ff5b35;
}
.form_list_shop>.ipt_r>input[type="radio"]{
  /* width: 18px;
  height: 18px;
  margin: 0;
  margin-left: 14px; */
} 
.form_list_shop>.ipt_r>label{
    font-size: 16px;
    color: #666;
    font-weight: normal;
    margin-left: 8px;
}
.form_list_shop>.ipt_l_edit>i{
    color: #ff5b35;
}
.ipt_r_edit{
    width:570px;
    color: #333333;
    font-size: 14px;
    /* height: 50px; */
    line-height: 0px;
}
.addhoner{
    height: 50px;
    width: 50px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
}
.addhoner>p{
    color: #00f;
}
.saveBtn{
    /* margin-top: 50px; */
    margin-left: 215px;
    display: flex;
    /* justify-content: center; */
    padding-bottom: 60px;
}
.saveBtn>input{
    width: 267px;
    height: 40px!important;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ff7848;
    float: left;
    cursor: pointer;
    margin-left: 20px;
    font-size: 14px!important;
}
.saveBtn>input{
    margin-left: 0;
   background: -webkit-linear-gradient(left, #ff7d4a, #ff4a2b);
   background: -o-linear-gradient(left, #ff7d4a, #ff4a2b);
   background: -moz-linear-gradient(left, #ff7d4a, #ff4a2b);
   background: linear-gradient(left, #ff7d4a, #ff4a2b);
   background: linear-gradient(to right, #ff7d4a, #ff4a2b);
   filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ff7d4a', endColorStr='#ff4a2b', gradientType='0');
   -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ff7d4a',endColorStr='#ff4a2b',gradientType='0')";
}
.service_head_l{
    display: inline-block;
    width: 50px;
    height: 100%;
    line-height: 100%;
}
.service_head_r{
    display: inline-block;
    width: 200px;
    margin-top: 22px;
    height: 100%;
    line-height: 100%;
}
.service_head_l>div{
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin: 0 auto;
    margin-top: 16px;
    border-radius: 50%;
    border: 1px solid red;
    overflow: hidden;
}
.service_head_l>div>img{
    width: 100%;
    color: #fff;
}
footer .copyright {
    width: 100%;
    height: 50px;
    font-size: 14px;
    padding-top: 14px;
    background-color: #1B1B1B;
}
footer .copyright p {
display: inline-block;
vertical-align: middle;
}


.file_ipt {
    width: 96px;
    height: 97px;
    cursor: pointer;
    border: 1px solid red;
    position: absolute;
    left: 1px;
    opacity: 0;
}
.basic-information{
    position: relative;
    border-bottom: 1px dashed #ccc;
    padding-top: 40px;
    padding-bottom: 20px;
}
.maxword{
    font-size: 14px;
    color: #999;
    position: relative;
    bottom: 10px;
    right: -631px;
}
.jbxx{
    font-size: 18px;
    color: #999999;
    position: absolute;
    top: 55px;
}
.jbxxxx {
    font-size: 18px;
    color: #999999;
    position: absolute;
    top: 166px;
}
.jbxx_p{
    width: 820px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    float: right;
    margin-left: 50px;
    margin-top: 10px;
    padding-left: 10px;
    background: #f3f5fe;
}
.ipt_l_edit_note {
    width: 145px;
    color: #333333;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    text-align: right;
    margin-right: 35px;
}
.gap-t{
    margin-top: 30px;
}
.submit_form{
    width:100%;
    height:64px;
    background: #fff;
    margin-top: 20px;
}
.submit_form_btn {
    width: 1200px;
    margin: 0 auto;
    height: 64px;
    background: #fff;

}
.gotop{
    width: 82px;
    height: 16px;
    line-height: 16px;
    color: #333333;
    font-size: 14px;
    position: relative;
    margin-left: 60px;
    margin-top: 25px;
    cursor: pointer;
}
.gotop>i{
    width: 15px;
    height: 8px;
    display: inline-block;
    background: url("../../images/service/gotop.jpg")center no-repeat;
    vertical-align: middle;
    margin-bottom: 2px;
    position: absolute;
    top: 3px;
    right: 7px;
}
.submit_form_btn>input{
    font-size: 14px;
    color: #666666;
    width: 75px;
    height: 35px;
    border: 1px solid #dbdbdb;
    background: #f9f9f9;
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 16px;
}
.submit_form_btn>input[name=preview] {
    margin-left: 500px;
}
.submit_form_btn>input[name=affirm] {
    background: -webkit-linear-gradient(left, #ff7d4a, #ff4a2b);
    background: -o-linear-gradient(left, #ff7d4a, #ff4a2b);
    background: -moz-linear-gradient(left, #ff7d4a, #ff4a2b);
    background: linear-gradient(left, #ff7d4a, #ff4a2b);
    background: linear-gradient(to right, #ff7d4a, #ff4a2b);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ff7d4a', endColorStr='#ff4a2b', gradientType='0');
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ff7d4a',endColorStr='#ff4a2b',gradientType='0')";
    color: #fff;
    border: 1px solid #ff7a4a;
}
.order_d {
    width: 1200px;
    margin: 0 auto;
    font-size: 12px;
    color: #666666;
    padding-top: 16px;
    padding-bottom: 12px;
}
.order_d>a{
    color: #666666;
    cursor: pointer;
}

  /* 弹框 */
.submitaudit {width:340px;height:230px;z-index:999;position: fixed;top:27%;left: 50%;margin-left:-170px;cursor: pointer;
    -moz-box-shadow: 10px 10px 15px #888888; 
box-shadow: 10px 10px 15px #888888;
    /* display: none; */
    background:#fff;
}
.submitaudit1 {
    width:340px;height:230px;z-index:999;position: fixed;top:27%;left: 50%;margin-left:-170px;cursor: pointer;
    -moz-box-shadow: 10px 10px 15px #888888; 
box-shadow: 10px 10px 15px #888888;
    /* display: none; */
    background:#fff;
}
.submitaudit>h3{
    width: 100%;
    background: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
}
.submitAuditHeader {width:340px;height:158px;background:#fff;position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.submitAuditHeader i {width:18px;height:18px;display:inline-block;background:url("../../images/register_icon.png")-42px -3px;vertical-align:middle;position:absolute;top:4px;right:4px;cursor:pointer;}
.submitAuditHeader s {margin-top:15px;width:165px;height:131px;display:inline-block;background:url("../../images/user/user_coin.png");vertical-align:middle;float: left;padding: 18px;box-sizing: border-box;margin-left: 23px;}
.submitAuditHeader h3 {font-size:16px;color:#333333;float: left;margin-top: 20px;}
.submitAuditHeader h3 {font-size:14px;color:#999999;margin-top: 5px;}
