<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.shiro.mapper.SmsMapper">

<select id="findThirtymit" resultType="com.ht.entity.shiro.SendCode" parameterType="java.lang.String" >
  SELECT * from  t_sys_sms_records  WHERE  phone=#{phone} and createdate > DATE_ADD(NOW(), INTERVAL -30 MINUTE)
</select>
   
</mapper>