<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.biz.mapper.OrderUserCompMapper">
	<update id="updateDefaults" parameterType="com.ht.commons.utils.PageData">
		update t_order_user_comp set defaults=1 where id=#{id} and createid=#{createid};
		update t_order_user_comp set defaults=0 where id!=#{id} and createid=#{createid};
	</update>
</mapper>