<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.biz.mapper.UserWaterRewardMapper">

    <select id="getWaterTotal" parameterType="java.lang.String" resultType="java.lang.Double"  flushCache="false" useCache="false">
	   select sum(w.point) from t_user_water_reward w where w.type=0 and w.userId=#{userId}
	</select>
	
	<select id="findList" parameterType="com.ht.commons.utils.MyPage" resultType="com.ht.commons.utils.PageData">
		select 
			t.id,
			t.rewardRuleId,
			t.point,
			t.type,
			t.waterType,
			t.userId,
			t.deleted,
			t.createdate,
			t.targetId,
			t.targetClass,
			s.username
		from t_user_water_reward t
		left join t_sys_user s on t.createid=s.USER_ID
		where 1=1
		<!-- <if test="pd.phone !=null and pd.phone !=''">
			and s.phone like binary CONCAT(CONCAT('%', #{pd.phone}),'%')
		</if>
		<if test="pd.beginDate !=null and pd.beginDate !='' and pd.endDate !=null  and pd.endDate !=''">
			and t.createdate between #{pd.beginDate} and #{pd.endDate}
		</if> -->
	</select>
	<select id="findUserIdByDayCount" parameterType="com.ht.commons.utils.PageData" resultType="java.lang.Integer">
	   select count(t.id) from t_user_water_reward t where userId=#{userId} and rewardRuleId=#{rewardRuleId}
	   <if test="starttime!=null and starttime!=''">
	       and  createdate BETWEEN #{starttime} AND #{endtime} 
	   </if>
	</select>
	<select id="selectRewrd" parameterType="com.ht.commons.utils.MyPage" resultType="com.ht.commons.utils.PageData">
		select 
		uwr.id,
		uwr.rewardRuleId,
		uwr.point,
		uwr.type,
		uwr.createdate,
		rr.name
		from t_user_water_reward uwr
		left join t_reward_rule rr on uwr.rewardRuleId=rr.id
		where 1=1 and uwr.userId=#{pd.userId}
		ORDER BY uwr.createdate desc
	</select>
</mapper>
