<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- 公共头部 -->
    <th:block th:include="block/headlink :: test('找回密码')" /> 
    <!-- 结束 -->
    <link rel="stylesheet" th:href="@{/statics/css/forget.css?v=0.01}">
</head>
<body>
<div id="user">
    <div th:replace="~{user_head::copy}"></div>
    <div th:replace="~{header::copy}"></div>
</div>

<div id="box">
    <div class="modify_password">
        <div class="contain">
            <div class="modify_top">
                <s class="line"></s>找回密码
            </div>

            <div class="modify_bottom">
                <p class="tip_text"><s class="mark_tip"></s>您正在使用手机验证码验证身份，请完成以下操作</p>

                <!-- 第一步-->
                <div>
                    <div class="write_phone">
                        <p id="phone">手机号码： <input type="text" v-model="sendPhone" name="phone" placeholder="请输入要找回的手机账号"/></p>

                        <p class="new_psw">新密码： <input type="password" v-model="password" placeholder="请输入新密码"/></p>

                        <p>确认密码： <input type="password" placeholder="请再次输入密码" v-model="repassword"/></p>

                        <p style="margin-left: -15px;">
                            图形验证码： <input id="imgCode" name="imgCode" v-model="imgCode" type="text" placeholder="图形验证码" style="width: 120px;"/>
                            <img id="codeImg" alt="" style="border: 1px solid #dbdbdb;border-radius: 4px;cursor: pointer;height:38px;width:120px;"/>
                        </p>

                        <p style="margin-left: -15px;">手机验证码： 
                            <input type="text" v-model="ecode" placeholder="手机验证码" style="width: 120px;"/>
                            <button type="button" style="margin-left: 0;vertical-align:middle;background-color: #fff;border: 1px solid #dbdbdb;border-radius: 4px;height: 38px;width: 120px;" class="identifying_code ac"
                                    @click="getcode" id="sendCode">点此获取验证码
                            </button>
                        </p>
                    </div>
                    <a href="javascript:void(0)" class="check_change ac" @click="esubmitReg"><s class="go"></s>确认</a>
                </div>
            </div>
        </div>
    </div>

</div>

<footer>
    <div>COPYRIGHT © 版权归属 广州高企云信息科技有限公司 粤ICP备16007486号-1</div>
</footer>
<!-- 公共js部分 -->
<th:block th:include="block/footlink :: copy" />
<!-- over -->

<script type="text/javascript" th:src="@{/statics/js/forget_password.js?v=0.01}"></script>


<script>
    $('.title_list>li').mouseover(function(e){
            $('.title_list>li').removeClass('active');
            $(this).addClass('active');
            $(this).children().stop().siblings(".drop_down").animate({
                'top':'30px',
                'opacity':'1',
            },200);
        });
        $('.title_list>li').mouseout(function(e){
            $(this).children().stop().siblings(".drop_down").animate({
                'top':'-30px',
                'opacity':'0'
            },200);
        })
    $(function () {
        changeCode();
        $("#codeImg").bind("click", changeCode);
        
    });
    function changeCode() {
        $("#codeImg").attr("src", "/ht-biz/sendcode/codeinfo?t="+ new Date().getTime());
    }
    $(".xcx_h").mouseover(function () {
        $(".xcx").css({
            'visibility': 'visible'
        })
    })
    $(".xcx_h").mouseleave(function () {
        $(".xcx").css({
            'visibility': 'hidden'
        })
    })
</script>
<th:block th:include="block/statistics :: copy" />
</body>
</html>