/* 底部 */
footer .footer_t {width:100%;height:245px;background-color:#393939;}
footer .down {padding-top:60px;}
footer .footer_logo {width:100px;height:100px;}
footer .footer_logo div {width:98px;height:98px;background:url("../images/icon.png") -251px -9px no-repeat;margin-left:10px;}
.logo_line {width:1px;height:171px;background-color:#34395b;}
footer .contact {width:450px;margin-left:130px;}
footer .contact .call,footer,.help .centrality,footer .public .ht {color:#999999;font-size:14px;}
footer .contact .tell {color:#999999;font-size:24px;margin-top:10px;}
footer .help .centrality a {color:#999999;}
footer .help .centrality:hover {text-decoration:underline;}
footer .contact .phone a {color:#808080;}
footer .contact .phone,footer .contact .time {font-size:14px;color:#808080;}
footer .contact .address {font-size:14px;}
footer .contact .address span {font-weight:800;}
footer .help {width:80px;margin-left:74px;}
footer .help .new {margin-top:13px;}
footer .help .rule {margin-top:13px;}
footer .help .new a,footer .help .rule a {color:#999999;font-size:14px;}
footer .help .rule a:hover,footer .help .new a:hover {text-decoration:underline;}
footer .public {width:120px;margin-right:10px;}
footer .public div {display:inline-block;width:112px;height:112px;margin-bottom:5px;}
footer .public .scan {font-size:14px;color:#808080;}
footer .footer_b {width:100%;height:80px;background-color:#232323;font-size:14px;}
footer .footer_b .contain {height:100px;padding-top:25px;}
footer .footer_b p {margin-left:273px;}
footer .footer_b p a {color:#999999;margin-left:30px;}
footer .footer_b p a:hover {text-decoration:underline;}
footer .footer_bottom {width:100%;height:15px;background-color:#232323;}
footer .copyright {width:100%;height:50px;line-height:50px;font-size:14px;background-color:#232323;}
footer .copyright p {display:inline-block;vertical-align:middle;}
footer .bottom {width:100%;height:40px;background-color:#282828;}
.contact p:nth-child(3) {margin-top:20px;}
/* 右侧固定导航栏 */.contain {width:1200px;margin:0 auto;}
#advise {position:fixed;z-index:100;/* border:1px solid red;*/}
.fix-server {position:fixed;margin-top:120px;z-index:600;}
/*  媒体查询 适应屏幕 */@media (min-width:1024px) {.fix-server {margin-left:800px;margin-top:-50px;}
}
/*>=1024的设备*/@media (min-width:1100px) {.fix-server {margin-left:1000px;margin-top:-50px;}
}
/*>=1024的设备*/@media (min-width:1280px) {.fix-server {margin-left:1118px;margin-top:-50px;}
}
@media (min-width:1366px) {.fix-server {margin-left:1240px;margin-top:110px;}
}
@media (min-width:1440px) {.fix-server {margin-left:1240px;margin-top:110px;}
}
@media (min-width:1680px) {.fix-server {margin-left:1350px;}
}
@media (min-width:1920px) {.fix-server {margin-left:1350px;}
}