<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- 公共头部 -->
    <th:block th:include="block/headlink :: test('商铺2')" /> 
    <!-- 结束 -->
    <link rel="stylesheet" th:href="@{/statics/css/service/index.css?v=0.0.1}">
    <link rel="stylesheet" th:href="@{/statics/css/user/pagination.css}">
    <link rel="stylesheet" th:href="@{/statics/css/service/business_shops.css?v=0.0.1}">
    <style>
        .page-bar-ul {
            left: 0;
        }
        .page-bar>ul {
            margin-top: 0px;
        }
    </style>
</head>

<body>
    <div id="user">
        <div th:replace="~{user_head::copy}"></div>
    </div>
    <div class="wrap" id="box">
        <div th:replace="~{header::copy}"></div>
        <section>
            <div class="shops_content clearfix">
                <!-- 公司类型的店铺基本信息 -->
                <div class="business_infos clearfix">
                    <div class="infos_bg">
                        <!-- 为公司类型时展示的服务商基本信息 -->
                        <div class="infos_in">
                            <div class="fl in_l">
                                <div class="fl shop_l">
                                    <img src="/statics/images/inquire/qzcx.png" alt="" class="shop_l_img">
                                </div>
                                <div class="fr shop_r">
                                    <div class="sn">
                                        <i class="sign hk"></i>
                                        <span class="hk shop_name">广东博士科技</span>
                                        <i class="hk baozhang"></i>
                                        <i class="hk rz"></i>
                                    </div>
                                    <div class="sn1">
                                        <div>
                                            <span class="basic_one">等级：<i class="level hk"></i><i class="level hk"></i><i class="level hk"></i><i class="level hk"></i><i class="level hk"></i></span><i class="one_h1 hk"></i>
                                            <span class="basic_one">评分：<span class="grade">9.8</span></span><i class="one_h1 hk"></i>
                                            <span class="basic_one">类型：<span  class="grade">321651316515123</span></span><i class="one_h1 hk"></i> 
                                            <span class="basic_one"><i class="locat hk"></i><span>广东省-广州市-天河区</span></span>
                                        </div>
                                        <div class="sn1">
                                            <span class="basic_one">服务范围：<span>全国</span></span>
                                        </div>
                                    </div>
                                    <!-- 公司简介-为公司类型时显示 -->
                                    <div class="comj">
                                        <p class="basic_one">公司简介：</p>
                                        <p class="basic_one sn1 sn2">畅欣知识产权有限公司是国家工商行政管理总局备案的代理机构，专业办理软件著作权、专利申请、商标注册；现已在全国众多城市设立了分支机构, 砺炼了一批具有10年经验队伍，热线400-880-3590</p>
                                    </div>
                                </div>
                            </div>
                            <!-- 联系电话-为公司类型时显示 -->
                            <div class="contacts fr">
                                <p class="phone1"><i class="phone hk"></i></p>
                                <p class="tel">400-166-3308</p>
                                <p class="consult1"><i class="consult hk"></i>QQ咨询</p>
                                <p>客服联系人：<span>徐凤年</span></p>
                                <p class="qq">客服QQ：<span>389668772</span></p>
                            </div>
                        </div>
                    </div>
                </div>

                 <!-- 个人类型的店铺基本信息 -->
                 <div class="business_infos1 clearfix">
                    <div class="infos_bg">
                        <!-- 为个人类型时展示的服务商基本信息 -->
                        <div class="infos_in">
                            <div class="fl in_l">
                                <div class="fl shop_l">
                                    <img src="/statics/images/inquire/qzcx.png" alt="" class="shop_l_img">
                                </div>
                                <div class="fr shop_r">
                                    <div class="sn">
                                        <i class="sign hk"></i>
                                        <span class="hk shop_name">广东博士科技</span>
                                        <i class="hk baozhang"></i>
                                        <i class="hk rz"></i>
                                    </div>
                                    <div class="sn1">
                                        <div>
                                            <span class="basic_one">等级：<i class="level hk"></i><i class="level hk"></i><i class="level hk"></i><i class="level hk"></i><i class="level hk"></i></span><i class="one_h1 hk"></i>
                                            <span class="basic_one">评分：<span class="grade">9.8</span></span><i class="one_h1 hk"></i>
                                            <span class="basic_one">类型：<span  class="grade">321651316515123</span></span><i class="one_h1 hk"></i> 
                                            <span class="basic_one"><i class="locat hk"></i><span>广东省-广州市-天河区</span></span>
                                        </div>
                                        <div class="sn1">
                                            <span class="basic_one">服务范围：<span>全国</span></span>
                                        </div>
                                    </div>
                                    <!-- 公司简介-为公司类型时显示 -->
                                    <div class="comj">
                                        <p class="basic_one">公司简介：</p>
                                        <p class="basic_one sn1 sn2">畅欣知识产权有限公司是国家工商行政管理总局备案的代理机构，专业办理软件著作权、专利申请、商标注册；现已在全国众多城市设立了分支机构, 砺炼了一批具有10年经验队伍，热线400-880-3590</p>
                                    </div>
                                </div>
                            </div>
                            <!-- 联系电话-为公司类型时显示 -->
                            <div class="contacts fr">
                                <p class="phone1"><i class="phone hk"></i></p>
                                <p class="tel">400-166-3308</p>
                                <p class="consult1"><i class="consult hk"></i>QQ咨询</p>
                                <p>联系人：<span>徐凤年</span></p>
                                <p class="qq">QQ：<span>389668772</span></p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 项目类型 -->
                <div class="clearfix project">
                    <div class="project_lx w">
                        <div class="project_t clearfix">
                            <div class="project_t_l fl">项目类型：</div>
                            <div class="project_t_r fr">
                                <ul class="hn">
                                    <li class="hn lxs active">科技政策服务（24）</li>
                                    <li class="hn lxs">科技政策服务（24）</li>
                                    <li class="hn lxs">科技政策服务（24）</li>
                                    <li class="hn lxs">科技政策服务（24）</li>
                                    <li class="hn lxs">科技政策服务（24）</li>
                                    <li class="hn lxs">科技政策服务（24）</li>
                                    <li class="hn lxs">科技政策服务（24）</li>
                                    <li class="hn lxs">科技政策服务（24）</li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix">
                            <p class="b_l"></p>
                        </div>
                        <div class="project_b clearfix">
                            <ul class="p_details">
                                <li class="lxs_details fl">
                                    <p class="p_n">国家级高新技术企业认定辅助</p>
                                    <p class="p_level">
                                        <span class="sb hk">申报中</span>
                                        <span>国家级</span><i class="yx hk"></i>
                                        <span>广州市</span><i class="yx hk"></i>
                                        <span class="bz">补助:300w</span>
                                    </p>
                                    <p>
                                        <span class="price hk">￥5k-8k</span>
                                        <span class="p_xq hk active_bg">查看详情</span>
                                    </p>
                                </li>
                                <li class="lxs_details fl">
                                    <p class="p_n">高新技术企业材料编写</p>
                                    <p class="p_level">
                                        <span class="sb hk">完成时间：<span class="hk">3</span>天</span><i class="yx hk"></i>
                                        <span>广州市</span>
                                    </p>
                                    <p>
                                        <span class="price hk">￥5k-3W</span>
                                        <span class="p_xq hk">查看详情</span>
                                    </p>
                                </li>
                                <li class="lxs_details fl">
                                    <p class="p_n">国家级高新技术企业认定辅助</p>
                                    <p class="p_level">
                                        <span class="sb hk">全年申报</span>
                                        <span>国家级</span><i class="yx hk"></i>
                                        <span>广州市</span><i class="yx hk"></i>
                                    </p>
                                    <p>
                                        <span class="price hk">￥5k-8k</span>
                                        <span class="p_xq hk">查看详情</span>
                                    </p>
                                </li>
                                <li class="lxs_details fl">
                                    <p class="p_n">国家级高新技术企业认定辅助</p>
                                    <p class="p_level">
                                        <span class="sb jz hk">申报截止</span>
                                        <span>国家级</span><i class="yx hk"></i>
                                        <span>广州市</span><i class="yx hk"></i>
                                    </p>
                                    <p>
                                        <span class="price hk">￥5k-8k</span>
                                        <span class="p_xq hk">查看详情</span>
                                    </p>
                                </li>
                                <li class="lxs_details fl">
                                    <p class="p_n">国家级高新技术企业认定辅助</p>
                                    <p class="p_level">
                                        <span class="sb hk">申报中</span>
                                        <span>国家级</span><i class="yx hk"></i>
                                        <span>广州市</span><i class="yx hk"></i>
                                        <span class="bz">补助:300w</span>
                                    </p>
                                    <p>
                                        <span class="price hk">￥5k-8k</span>
                                        <span class="p_xq hk active_bg">查看详情</span>
                                    </p>
                                </li>
                                <li class="lxs_details fl">
                                    <p class="p_n">高新技术企业材料编写</p>
                                    <p class="p_level">
                                        <span class="sb hk">完成时间：<span class="hk">3</span>天</span><i class="yx hk"></i>
                                        <span>广州市</span>
                                    </p>
                                    <p>
                                        <span class="price hk">￥5k-3W</span>
                                        <span class="p_xq hk">查看详情</span>
                                    </p>
                                </li>
                                <li class="lxs_details fl">
                                    <p class="p_n">国家级高新技术企业认定辅助</p>
                                    <p class="p_level">
                                        <span class="sb hk">全年申报</span>
                                        <span>国家级</span><i class="yx hk"></i>
                                        <span>广州市</span><i class="yx hk"></i>
                                    </p>
                                    <p>
                                        <span class="price hk">￥5k-8k</span>
                                        <span class="p_xq hk">查看详情</span>
                                    </p>
                                </li>
                                <li class="lxs_details fl">
                                    <p class="p_n">国家级高新技术企业认定辅助</p>
                                    <p class="p_level">
                                        <span class="sb jz hk">申报截止</span>
                                        <span>国家级</span><i class="yx hk"></i>
                                        <span>广州市</span><i class="yx hk"></i>
                                    </p>
                                    <p>
                                        <span class="price hk">￥5k-8k</span>
                                        <span class="p_xq hk">查看详情</span>
                                    </p>
                                </li>
                                <li class="lxs_details fl">
                                    <p class="p_n">国家级高新技术企业认定辅助</p>
                                    <p class="p_level">
                                        <span class="sb hk">申报中</span>
                                        <span>国家级</span><i class="yx hk"></i>
                                        <span>广州市</span><i class="yx hk"></i>
                                        <span class="bz">补助:300w</span>
                                    </p>
                                    <p>
                                        <span class="price hk">￥5k-8k</span>
                                        <span class="p_xq hk active_bg">查看详情</span>
                                    </p>
                                </li>
                                <li class="lxs_details fl">
                                    <p class="p_n">高新技术企业材料编写</p>
                                    <p class="p_level">
                                        <span class="sb hk">完成时间：<span class="hk">3</span>天</span><i class="yx hk"></i>
                                        <span>广州市</span>
                                    </p>
                                    <p>
                                        <span class="price hk">￥5k-3W</span>
                                        <span class="p_xq hk">查看详情</span>
                                    </p>
                                </li>
                                <li class="lxs_details fl">
                                    <p class="p_n">国家级高新技术企业认定辅助</p>
                                    <p class="p_level">
                                        <span class="sb hk">全年申报</span>
                                        <span>国家级</span><i class="yx hk"></i>
                                        <span>广州市</span><i class="yx hk"></i>
                                    </p>
                                    <p>
                                        <span class="price hk">￥5k-8k</span>
                                        <span class="p_xq hk">查看详情</span>
                                    </p>
                                </li>
                                <li class="lxs_details fl">
                                    <p class="p_n">国家级高新技术企业认定辅助</p>
                                    <p class="p_level">
                                        <span class="sb jz hk">申报截止</span>
                                        <span>国家级</span><i class="yx hk"></i>
                                        <span>广州市</span><i class="yx hk"></i>
                                    </p>
                                    <p>
                                        <span class="price hk">￥5k-8k</span>
                                        <span class="p_xq hk">查看详情</span>
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <!-- 分页 -->
                        <div class="page_box ac clearfix">
                            <mypagenation :page="page" @btn-click="clickPage"></mypagenation>
                        </div>
                        <!-- 分页 -->
                    </div>
                </div>
                <!-- 服务流程 -->
                <div class="clearfix">
                    <div class="w s_process">
                        <div class="fl s_process_l">
                            <!-- 服务流程 -->
                            <div class="process_w_w">
                                <div class="process_t"><i class="process_i hk"></i>服务流程</div>
                                <!-- 服务流程图-后台返回 -->
                                <div class="process_img">
                                    <img src="/statics/images/service/exchange_test/service_process.png" alt="" class="pimg">
                                </div>
                                <div>
                                    <p class="process_it">1、司法局回复大刀阔斧</p>
                                </div>
                            </div>
                            <!-- 服务案列 -->
                            <div class="process_w_w">
                                <div class="process_t"><i class="process_i hk"></i>服务案列</div>
                                <!-- 服务案列图-后台返回 -->
                                <div class="process_img">
                                    <img src="/statics/images/service/exchange_test/service_process.png" alt="" class="pimg">
                                </div>
                                <div>
                                    <p class="process_it">1、大范甘迪回复给对方</p>
                                </div>
                            </div>
                            <!-- 服务团队 为个人类型时不显示服务案例-->
                            <div class="process_w_w">
                                <div class="process_t"><i class="process_i hk"></i>服务团队</div>
                                <!-- 服务团队图-后台返回 -->
                                <div class="process_img">
                                    <img src="/statics/images/service/exchange_test/sevice_tuandui.png" alt="" class="pimg">
                                </div>
                                <div>
                                    <p class="process_it">1、大范甘迪回复给对方</p>
                                </div>
                            </div>
                            <!-- 服务保障 -->
                            <div class="process_w_w">
                                <div class="process_t"><i class="process_i hk"></i>服务保障</div>
                                <div>
                                    <p class="process_it">1、大范甘迪回复给对方</p>
                                </div>
                            </div>
                            <!-- 其他 -->
                            <div class="process_w_w">
                                <div class="process_t"><i class="process_i hk"></i>其他</div>
                                <div>
                                    <p class="process_it process_it2">1、大范甘迪回复给对方</p>
                                </div>
                            </div>
                        </div>
                        <!-- 荣誉资质 -->
                        <div class="fr s_process_r">
                           <div>
                                <div class="process_t"><i class="process_i process_i1 hk"></i>荣誉资质</div>
                                <div class="honor">
                                    <!-- 营业执照图-后台返回 -->
                                    <div class="process_img process_img1">
                                        <img src="/statics/images/service/exchange_test/service_honor.png" alt="" class="process_honor">
                                    </div>
                                    <p class="process_it process_it1">营业执照</p>
                                </div>
                                <div class="honor">
                                    <!-- 荣誉资质图-后台返回 -->
                                    <div class="process_img process_img1">
                                        <img src="/statics/images/service/exchange_test/service_honor.png" alt="" class="process_honor">
                                    </div>
                                    <p class="process_it process_it1">服务机构认证</p>
                                </div>
                           </div>
                           <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="copyright ac">
                <p>COPYRIGHT © 版本归属 广州高企云信息科技有限公司 粤ICP备16007486号-1</p>
            </div>
        </footer>
    </div>
    <!-- 公共js部分 -->
    <th:block th:include="block/footlink :: copy" />
    <!-- over -->
    <script type="text/javascript" th:src="@{/statics/js/service/business_shops.js?v=0.0.2}"></script>
    <script>
         $(".xcx_h").mouseover(function () {
            $(".xcx").css({
                'visibility': 'visible'
            })
        })
        $(".xcx_h").mouseleave(function () {
            $(".xcx").css({
                'visibility': 'hidden'
            })
        })
    </script>
    <th:block th:include="block/statistics :: copy" />
</body>

</html>