<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- 公共头部 -->
    <th:block th:include="block/headlink :: test('政策速递详情页')" /> 
    <!-- 结束 -->
    <link rel="stylesheet" th:href="@{/statics/css/policydig/pagination.css}">
    <link rel="stylesheet" th:href="@{/statics/css/policydig/index.css?v=0.0.2}">
    <link rel="stylesheet" th:href="@{/statics/css/policydig/datepicker.css}">
    <link rel="stylesheet" th:href="@{/statics/css/policydig/v4_fixed_service.css}">
    <link rel="stylesheet" th:href="@{/statics/css/policydig/details.css?v=0.0.4}">
    <link rel="stylesheet" th:href="@{/statics/css/policydig/policy_details.css?v=0.0.4}">
    <style>
        [v-cloak] {
            display: none;
        }
        .navigation{margin-bottom: 10px;}
    </style>
</head>

<body>
    <div class="wrap" id="user">
        <div th:replace="~{user_head::copy}"></div>
    </div>
    <div id="library"></div>
    <div id="box"></div>
    <div id="vbox">
        <!-- 登录弹框 -->
        <mylogin :islogin="false" @close-login="isLogin=!false"></mylogin>
        <!-- 结束 -->
        <div th:replace="~{policy_nav::copy}"></div>
        
        <section class="library_details clearfix">
            <div class="library_content clearfix">
                <div class="navigation clearfix">
                    <p class="bread_nav fl">
                        <a>当前位置：</a>
                        <a href="/">首页</a> > <a href="/ht-biz/policydig/index">政策速递</a> > <a href="javascript:void;">详情页</a>
                    </p>
                </div>
                <div class="library_content_l fl">
                    <div class="l_box">
                        <div class="policy_detail_l">
                            <div class="detail_content">
                                <div class="detail_top">
                                    <p class="title" id="title_head" v-text="policyData.title"></p>
                                    <p class="text">
                                        <span class="source">政策来源：<s v-text="policyData.source"></s>&nbsp; 
                                            <a :href="policyData.url" target="_blank">#原文链接</a></span>
                                        <span class="source public_date">发布时间：<s
                                                class="date">{{policyData.datetime|date}}</s></span>
                                    </p>
                                </div>
                                <div>
                                    <div id="advise" class="fixed_advise fixed_advise_l" v-cloak>
                                        <!-- <service></service> -->
                                    </div>
                                    <div class="detail_c" style="line-height: 30px;font-size:16px;color:#494949;"
                                        v-html="policyData.content"></div>
                                </div>
                            </div>
                            <div class="policy_bottom policy_tool clearfix">
                                <div class="share24" style="display: none;"><s></s>
                                    <p style="display:inline-block; font-size: 18px;color: #fff;padding: 5px">分享到：<p>
                                    <div id="socialShare1"></div>
                                    <b class="shareclose24">x</b>
                                </div>
                                <!-- <div class="policy_bottom_low1 fl">
                                    <p><i class="low_icon1"></i>相关附件下载</p>
                                </div> -->
                                <div class="policy_bottom_low2 fl clearfix">
                                    <!-- <p class="fx fl"><i class="low_icon2"></i>分享</p> -->
                                    <div class="fx fl" >
                                        <p class="sc fl" id="share_pay"><i class="low_icon2"></i>分享</p>
                                        <!-- <div class="sharweb" style="color:white"><b class="share_icon"></b>分享</div> -->
                                        <p v-show="haveCollection == true" class="sc fl" @click="doCollection();"><i class="low_icon3"></i>收藏</p>
                                        <p v-show="haveCollection == false" class="sc fl" @click="doCollection();"><i class="low_icon4"></i>已收藏</p>
                                    </div>
                                </div>
                                <div class="policy_bottom_low3 fl">
                                    <p>
                                       <a :href="policyData.url" target="_blank">政府原文链接></a> 
                                    </p>
                                </div>
                                <!-- <div class="policy_bottom_low5 fl">
                                    <p @click="projectDeclare();">项目申报</p>
                                </div> -->
                                <div class="policy_bottom_low4 fl">
                                    <!-- <p><a href="" @clcik="policyComsult()">政策咨询</a></p> -->
                                    <p><a style="color: #fff;" target="_blank" href="http://p.qiao.baidu.com/cps/chat?siteId=11406523&userId=20408321">政策咨询</a></p>
                                </div>
                                
                            </div>
                            <div class="more_policy clearfix">
                                <!-- <div class="policy_xg clearfix">
                                    <a href="" target="_blank" class="title tit_xg fl">相关附件:</a>
                                    <ul class="tit_list fl">
                                        <li>
                                            <div class="clearfix">
                                                <div class="fl title_div"><a href="">国家科技企业孵化器主要政策体系解读</a></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div> -->
                                <div class="policy_xg clearfix">
                                    <a href="" target="_blank" class="title tit_xg fl" >相关政策解读:</a>
                                    <ul class="tit_list fl">
                                        <li v-for="more in moreListBtn">
                                            <div class="clearfix">
                                                <div class="fl title_div"><a :href="'/ht-biz/library/findLibrayById?id='+more.id"
                                                        target="_blank" v-text="more.title"></a></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="library_content_r fl clearfix">
                    <!-- <div class="bigData">
                        <h2>政策大数据查询系统  ></h2>
                        <p>相关政策历年政策信息都能查询到！</p>
                        <div class="bigData_ipt clearfix">
                            <input class="fl" type="text" v-model="bigData" placeholder="高新技术企业">
                            <s class="fl" @click="searchBigData">
                                <i></i>
                            </s>
                        </div>
                    </div>
                    <div class="project">
                        <h2>企业立项查询系统  ></h2>
                        <p>查看公司或者同行申报过的科技项目！</p>
                        <div class="project_ipt clearfix">
                            <input class="fl" type="text" v-model="setProject" placeholder="高企云">
                            <s class="fl" @click="searchProject">
                                <i></i>
                            </s>
                        </div>
                    </div> -->
                    <div class="resource_packs" style="margin-top: 0;">
                        <div class="product_r_img">
                            <h2><i style="color: #129e87">推荐</i>阅读<span>热点文档推荐</span></h2>
                        </div>
                        <ul class="product_r_text">
                            <li class="product_r_text_rows" v-cloak  v-for="(arr,list) in moreList"><s>{{list + 1}}</s><a target="_blank"
                                :href="'/ht-biz/policydig/details?id='+arr.id" :title="arr.title" v-html="arr.title"></a>
                            </li>
                            <!-- <li v-cloak v-show="showList=10" v-for="(arr,list) in moreList.slice(0,10)"><s>{{list + 1}}</s><a target="_blank"
                                :href="'/ht-biz/policydig/details?id='+arr.id" :title="arr.title" v-html="arr.title"></a>
                            </li> -->
                            <div class="view_more">
                                <a href="/ht-biz/policydig/index">查看更多</a>
                                <!-- <a @click="getMoreList(2)" href="javascript:;">查看更多</a> -->
                            </div>
                        </ul>
                    </div>
                    <div class="kou">
                        <a target="_blank" href="http://g.hights.cn/produce/addDel_detail"></a>
                    </div>
                </div>
            </div>
            
        </section>
        <footer>
            <p>COPYRIGHT © 版权归属 广州高企云信息科技有限公司 粤ICP备16007486号-1</p>
        </footer>

    </div>

    <!--S=底部-->
    <!-- 公共js部分 -->
    <th:block th:include="block/footlink :: copy" /> 
    <!-- over -->

    <script type="text/javascript" th:src="@{/statics/js/policydig/detail.js?v=0.0.3}"></script>
    <script type="text/javascript" th:src="@{/statics/js/more.js?v=0.1.9}"></script>
    <script type="text/javascript" th:src="@{/statics/js/morepolicy.js?v=0.1.0}"></script>
    <script type="text/javascript" th:src="@{/statics/js/component/mylogin.js?v=1.0.0}"></script>
    <script>
        //固定栏
        $(function(){
            $(window).scroll(function () {
                var $scrollTop = document.documentElement.scrollTop || window.pageYOffset || document.body.scrollTop; //兼容浏览器
                //console.log($scrollTop);
                if ($scrollTop > 200) { //滚动高度可调
                    $(".policy_bottom ").css({"position":"relative","margin-left":"-450px",});
                } else {
                    $(".policy_bottom ").css({"position": "fixed","left":" 50%","bottom": "0","margin-left": "-600px",});
                }
            });
            
        })
        //收费分享
        $('#share_pay').click(function () {
            $('.share24').fadeIn(300);
        });

        $('.shareclose24').click(function () {
            $('.share24').fadeOut(300);
        });

        $('.payshow').hide(300);
        $(".freeshow").hide(300);
        $('#r_box_login2').hide();
        $('.close-reveal-modal').click(function () {
            location.reload();
            setInterval(function () {
                $('.login-top').hide();
            }, 3000);
        });

        $('#login_btn1').click(function () {
            login_submit();
        });

        $('.login_input').keyup(function (event) {
            if (event.keyCode == 13) {
                login_submit();
            }
        });

        $("#contract_mask").css("width", $(document).width());

        function limitTextarea(self, nowleng) {
            $(self).on('input propertychange', function (event) {
                var _val = $(self).val();
                _val = _val < 300 ? _val : _val.substr(0, 300);
                $(self).val(_val);
                $(nowleng).text(_val.length)
            });
            $(self).blur(function () {
                $(self).off('input propertychange');
            });
        }

        $(function () {
            function autocenter() {
                var bodyW = parseInt(document.documentElement.clientWidth);
                var bodyH = parseInt(document.documentElement.clientHeight);
                var elW = $("#weixin").width();
                var elH = $("#weixin").height();

                $("#weixin").css("left", (bodyW - elW) / 2);
                $("#weixin").css("top", (bodyH - elH) / 2);
            }
            window.onresize = function () {
                autocenter();
            };
        });



        $("#contract_mask").css("width", $(document).width());

        function limitTextarea(self, nowleng) {
            $(self).on('input propertychange', function (event) {
                var _val = $(self).val();
                _val = _val < 300 ? _val : _val.substr(0, 300);
                $(self).val(_val);
                $(nowleng).text(_val.length)
            });
            $(self).blur(function () {
                $(self).off('input propertychange');
            });
        }

        $(function () {
            $("#socialShare").socialShare({
                content: $("p").text().trim(),
                url: window.location.href,
                titile: $("h1").text().trim()
            });
            $("#socialShare1").socialShare({
                content: $("p").text().trim(),
                url: window.location.href,
                titile: $("h1").text().trim()
            });
            $(".msb_main").trigger('click');
        });

        $("#shareQQ").on("click", function () {
            $(this).socialShare("tQQ");
        })

        $(function () {
            function autocenter() {
                var bodyW = parseInt(document.documentElement.clientWidth);
                var bodyH = parseInt(document.documentElement.clientHeight);
                var elW = $("#weixin").width();
                var elH = $("#weixin").height();

                $("#weixin").css("left", (bodyW - elW) / 2);
                $("#weixin").css("top", (bodyH - elH) / 2);
            }
            window.onresize = function () {
                autocenter();
            };
        });

        $(document).on("click", ".msb_main", function () {
            if ($(this).hasClass("disabled")) return;
            var e = 500; //动画时间
            var t = 250; //延迟时间
            var r = $(this).parent().find(".msb_network_button").length; //分享组件的个数
            var i = 60;
            var s = e + (r - 1) * t;
            var o = 1;
            var a = $(this).outerWidth();
            var f = $(this).outerHeight();
            var c = $(this).parent().find(".msb_network_button:eq(0)").outerWidth();
            var h = $(this).parent().find(".msb_network_button:eq(0)").outerHeight();
            var p = (a - c) / 2; //起始位置
            var d = (f - h) / 2; //起始位置
            var v = 0 / 180 * Math.PI;
            if (!$(this).hasClass("active")) {
                $(this).addClass("disabled").delay(s).queue(function (e) {
                    $(this).removeClass("disabled").addClass("active");
                    e()
                });
                $(this).parent().find(".msb_network_button").each(function () {
                    var n = p + (p + i * o) * Math.cos(v) * 0.8; //结束位置
                    var r = d + (d + i * o) * Math.sin(v); //结束位置
                    $(this).css({
                        display: "block",
                        left: p + "px",
                        top: d + "px"
                    }).stop().delay(t * o).animate({
                        left: n + "px",
                        top: r + "px"
                    }, e);
                    o++
                })
            } else {
                o = r;
                $(this).addClass("disabled").delay(s).queue(function (e) {
                    $(this).removeClass("disabled").removeClass("active");
                    e()
                });
                $(this).parent().find(".msb_network_button").each(function () {
                    $(this).stop().delay(t * o).animate({
                        left: p,
                        top: d
                    }, e);
                    o--
                })
            }
        });
        $(".xcx_h").mouseover(function () {
            $(".xcx").css({
                'visibility': 'visible'
            })
        })
        $(".xcx_h").mouseleave(function () {
            $(".xcx").css({
                'visibility': 'hidden'
            })
        })
    </script>
    <th:block th:include="block/statistics :: copy" />
</body>

</html>